<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.learn.camera">

    <uses-sdk tools:overrideLibrary="com.learn.base" />

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".CameraApp"
        android:allowBackup="true"
        android:label="@string/camera_app"
        android:supportsRtl="true"
        android:theme="@style/Theme.WanAndroid">
        <activity android:name=".VideoCaptureActivity"></activity>
        <activity android:name=".EntranceActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainCameraActivity" />
    </application>

</manifest>